<footer id="contact" class="footer-section">
  <div class="container py-5">

    <div class="row justify-content-center text-center">

      <!-- CONTACT INFO -->
      <div class="col-md-6 mb-4">
        <h5 class="footer-title">Contact Us</h5>

        <p class="footer-text mb-1">
          Phone: <a href="tel:+919883071717">+91 98830 71717</a>
        </p>
        <p class="footer-text mb-3">
          Phone: <a href="tel:+918240241535">+91 82402 41535</a>
        </p>

        <div class="social-links mt-3">
          <a href="https://www.facebook.com/westbengalarmwrestlingassociation" target="_blank">Facebook</a>
          <span class="mx-2">|</span>
          <a href="https://www.instagram.com/westbengal_armwrestling?igsh=Zmlxc210ODVvemZo" target="_blank">Instagram</a>
        </div>
      </div>

    </div>

    <div class="text-center mt-4 footer-bottom">
      © 2025 West Bengal Armwrestling Association. All Rights Reserved.
    </div>

  </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>